apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-azodha
  namespace: azodha-dev
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: project-azodha
  template:
    metadata:
      labels:
        app: project-azodha
    spec:
      containers:
      - name: project-azodha
        image: devakate/project-azodha:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

        env:
        - name: OTEL_SERVICE_NAME
          value: "project-azodha"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://otel-collector.monitoring:4317"
        - name: OTEL_TRACES_EXPORTER
          value: "otlp"

        volumeMounts:
        - name: app-storage
          mountPath: /app/data

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"

        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5

      volumes:
      - name: app-storage
        persistentVolumeClaim:
          claimName: azodha-pvc
