apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: azodha-pvc
  namespace: azodha-dev
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2
  resources:
    requests:
      storage: 1Gi
